@use "@/styles/base/variables";

.toast {
  position: fixed;
  top: 25px;
  left: 50%;

  transform: translateX(-50%);

  width: 320px;

  padding: 16px;

  border-left-width: 4px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;

  opacity: 1;
  transition: all 0.5s ease;

  &.hidden {
    opacity: 0;
    transform: translate(-50%, -30px);
    pointer-events: none;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }

  .progress_container {
    width: 100%;
    height: 8px;
    background-color: variables.$gray-200;
    margin-top: 12px;
    border-radius: 4px;
    overflow: hidden;

    .progress_bar {
      height: 100%;
      transition: width 50ms linear;
    }
  }

  &.success {
    background-color: variables.$green-100;
    color: variables.$green-800;
    border-left-color: variables.$green-400;

    .progress_bar {
      background-color: variables.$green-500;
    }
  }

  &.error {
    background-color: variables.$red-100;
    color: variables.$red-800;
    border-left-color: variables.$red-400;

    .progress_bar {
      background-color: variables.$red-500;
    }
  }

  &.warning {
    background-color: variables.$yellow-100;
    color: variables.$yellow-800;
    border-left-color: variables.$yellow-400;

    .progress_bar {
      background-color: variables.$yellow-500;
    }
  }

  &.info {
    background-color: variables.$blue-100;
    color: variables.$blue-800;
    border-left-color: variables.$blue-400;

    .progress_bar {
      background-color: variables.$blue-500;
    }
  }
}
