.blur-image-wrapper {
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.5s ease-in-out;
  }

  .placeholder {
    filter: blur(10px);
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .main-image {
    opacity: 0;
  }

  .main-image.visible {
    opacity: 1;
  }

  .placeholder.hidden {
    opacity: 0;
  }
}
