header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 20px;
  overflow-wrap: anywhere;
  margin-right: auto;
  margin-left: auto;
  padding-left: 35px;
  padding-right: 35px;

  .logo {
    color: $secondary-color;
    font: normal small-caps 600 40px/ 25px $primary-font;
  }

  .nav-right-side {
    display: flex;
    justify-content: end;
    align-items: center;

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: $primary-font-color;
      font-size: 25px;

      .search-container {
        .close {
          position: fixed;
          top: 30px;
          right: 35px;
          color: #ffffff;
          font-size: 35px;
          z-index: 900;
          cursor: pointer;

          &:hover {
            color: $hover-font-color;
          }
        }

        form[name="search-form"] {
          transition: 0.5s;
          position: fixed;
          bottom: 50%;
          right: 50%;
          transform: translate(50%, 50%);
          overflow: visible;
          width: 0;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 900;

          &.open {
            width: 60%;
            max-width: 800px;
          }

          input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            border-radius: 3px;
            background-color: $primary-color;
            box-shadow: 0px 4px 10px -2px rgba(255, 255, 255, 0.4);
            font-size: 22px;
            text-indent: 5px;
            color: $primary-font-color;
          }

          .dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            max-height: 200px;
            overflow-y: auto;
            background-color: $primary-color;
            border: 1px solid $primary-border-color;
            border-top: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 100;
            transition: all 0.2s linear;

            .dropdown-item {
              padding: 10px;
              font-size: 14px;
              cursor: pointer;
              background-color: $primary-color;
              transition: background-color 0.2s ease;

              &:hover {
                background-color: $secondary-color;
                color: $secondary-font-color;
              }

              &.no-match:hover {
                background-color: $primary-color;
                color: $primary-font-color;
              }

              &.no-match {
                text-align: center;
                font-weight: bolder;
                cursor: default;
              }
            }
          }
        }
      }

      svg {
        color: $primary-font-color;
        margin: 0 10px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
      }

      svg:hover {
        color: $hover-font-color;
      }

      .cart-icon {
        position: relative;
        cursor: pointer;

        span {
          position: absolute;
          top: -1px;
          right: 1px;
          color: #ffffff;
          background-color: $secondary-color;
          box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
          font-size: 11px;
          padding-left: 2px;
          padding-right: 2px;
          line-height: 17px;
          letter-spacing: -0.5px;
          height: 18px;
          min-width: 18px;
          border-radius: 99px;
          text-align: center;
          z-index: 3;
        }
      }

      .cart {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translate(100%, 0);
        width: 35%;
        max-width: 450px;
        background-color: #ffffff;
        z-index: 100000;
        display: flex;
        flex-flow: column nowrap;
        transition: 0.5s;

        .cart-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $primary-border-color;
          padding: 21px;
          line-height: 1;

          span {
            font-size: 16px;
          }

          svg {
            width: 22px;
            height: 22px;
          }
        }

        .cart-items {
          padding: 21px;
          overflow: auto;
          .cart-item {
            &:not(:first-child) {
              border-top: 1px solid $primary-border-color;
            }

            position: relative;
            min-height: 60px;
            line-height: 1.5;
            padding: 19px 0 19px 80px;

            img {
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 64px;
              height: 64px;
              margin: 0 0 8px 0;
            }

            .title,
            .price {
              font-size: 16px;
              line-height: normal;
              color: $secondary-font-color;
            }

            .remove {
              position: absolute;
              left: auto;
              right: 0;
              top: 17px;
              color: $secondary-font-color;
              opacity: 0.7;
              transition: all 0.2s linear;

              &:hover {
                opacity: 1;
              }
            }
          }
        }

        .empty-cart {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 21px;

          p {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: $secondary-font-color;
          }
        }

        &.open {
          transform: translate(0, 0);
        }
      }
    }
  }

  .menu-icons {
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 0 1px;

    span {
      display: block;
      width: 50px;
      height: 6px;
      border-radius: 5px;
      background-color: $primary-color;
      margin: 5px 0;
      transition: 0.4s;
    }
  }

  .menu-collapse {
    ul.menu {
      flex-wrap: wrap;

      li {
        position: relative;
        line-height: 100px;
        transition: all 0.1s ease-in-out;
        font-family: $primary-font;
        text-transform: uppercase;
        color: $primary-font-color;
        transition: all 0.3s ease-in-out;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;

        &:hover {
          color: $hover-font-color;
        }

        a {
          &.active {
            border-bottom: 3px solid $secondary-color;
            color: $hover-font-color;
          }

          div {
            display: flex;
            align-items: center;

            span {
              margin-right: 5px;
            }
          }
        }

        &.dropdown {
          .dropdown-btn {
            display: flex;
            align-items: center;
            gap: 5px;
          }

          .dropdown-menu {
            position: absolute;
            right: auto;
            left: 0;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.1);
            margin: auto;
            z-index: 99999;
            visibility: hidden;
            opacity: 0;
            width: 240px;
            transition: all 0.2s ease-in-out;

            li {
              line-height: 1.45;
              width: 100%;

              a {
                padding: 0.9em 1em;
              }
            }
          }

          &:hover .dropdown-menu {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  // Start Media
  // @media only screen and (max-width: 1199.99px) {
  //     width: 100%;
  //     text-align: left;
  //     justify-content: space-around;
  //     position: relative;
  //     overflow: visible;

  //     .menu-icons {
  //         display: block;
  //         cursor: pointer;

  //         &.open {
  //             span:nth-child(1) {
  //                 -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  //                 transform: rotate(-45deg) translate(-9px, 6px);
  //             }

  //             span:nth-child(2) {
  //                 opacity: 0;
  //             }

  //             span:nth-child(3) {
  //                 -webkit-transform: rotate(45deg) translate(-8px, -8px);
  //                 transform: rotate(45deg) translate(-8px, -8px);
  //             }
  //         }
  //     }

  //     .menu-collapse {
  //         flex-direction: column;
  //         width: 0;
  //         height: 0;
  //         transition: width ease-in-out .8s;
  //         position: absolute;
  //         top: 57px;
  //         left: 0;

  //         ul.menu {
  //             display: none;
  //             width: 100%;
  //             flex-direction: column;
  //         }

  //         form {
  //             width: 0;
  //             overflow: hidden;
  //         }
  //     }

  //     .menu-collapse.open {
  //         width: 100%;
  //         height: 100vh;
  //         display: block;
  //         position: fixed;
  //         top: 55px;
  //         left: 0;
  //         background: rgb(255, 255, 255);
  //         z-index: 10;

  //         ul.menu {
  //             display: block;
  //             margin: 20px auto;

  //             li {
  //                 background-color: $primary-color;
  //                 border-bottom: 1px solid $primary-border-color;
  //             }
  //         }
  //     }

  //     form[name="search-form"] {
  //         right: 50%;
  //         top: 58px;
  //         transform: translateX(15%);
  //     }

  //     form[name="search-form"]::before {
  //         right: 29px;
  //     }
  // }

  @media only screen and (max-width: 576px) {
    padding: 10px 2px;

    .logo {
      padding: 0;
      margin: 0;
      font-size: 30px;
    }

    li {
      a {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .menu-icons {
      span::before,
      span::after {
        padding: 3px 25px;
      }
    }

    form[name="search-form"]::before {
      right: 60px;
    }

    form[name="search-form"] {
      top: 58px;
      transform: translateX(5%);
    }
  }
}
