header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 20px;
  overflow-wrap: anywhere;
  margin-right: auto;
  margin-left: auto;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 500;

  .logo {
    color: $secondary-color;
    font: normal small-caps 600 40px/ 25px $primary-font;
  }

  .nav-right-side {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;

    .menu-collapse {
      .close-menu {
        display: none;
      }

      .menu {
        flex-wrap: wrap;
        gap: 12px;

        li {
          position: relative;
          line-height: 80px;
          font-family: $primary-font;
          text-transform: uppercase;
          color: $primary-font-color;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            color: $hover-font-color;
          }

          a {
            width: 100%;
            font-size: 14px;
            padding: 12.6px 20px;

            &.active {
              border-bottom: 3px solid $secondary-color;
              color: $hover-font-color;
            }

            div {
              display: flex;
              align-items: center;

              span {
                margin-right: 5px;
              }
            }
          }

          &.dropdown {
            .dropdown-btn {
              display: flex;
              align-items: center;
              gap: 5px;
            }

            .dropdown-menu {
              position: absolute;
              right: auto;
              left: 0;
              flex-direction: column;
              align-items: center;
              box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.1);
              margin: auto;
              z-index: 99999;
              visibility: hidden;
              opacity: 0;
              width: 240px;
              transition: all 0.2s ease-in-out;

              li {
                line-height: 1.45;
                width: 100%;
              }
            }

            &:hover .dropdown-menu {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: $primary-font-color;
      font-size: 25px;

      .search-container {
        .search-box {
          .close {
            position: fixed;
            top: 30px;
            right: 35px;
            color: #ffffff;
            font-size: 35px;
            z-index: 1100;
            opacity: 0;
            visibility: hidden;
            cursor: pointer;

            &:hover {
              color: $hover-font-color;
            }
          }

          form {
            transition: 0.5s;
            position: fixed;
            bottom: 50%;
            right: 50%;
            transform: translate(50%, 50%);
            overflow: visible;
            width: 0;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1100;

            input {
              width: 100%;
              height: 100%;
              border: none;
              outline: none;
              border-radius: 3px;
              background-color: #ffffff;
              box-shadow: 0px 4px 10px -2px rgba(255, 255, 255, 0.4);
              font-size: 22px;
              text-indent: 5px;
              color: $primary-font-color;
            }

            .dropdown {
              position: absolute;
              top: 100%;
              left: 0;
              right: 0;
              max-height: 200px;
              overflow-y: auto;
              background-color: #ffffff;
              border: 1px solid $primary-border-color;
              border-top: none;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              z-index: 100;
              transition: all 0.2s linear;

              .dropdown-item {
                padding: 10px;
                font-size: 14px;
                cursor: pointer;
                background-color: #ffffff;
                transition: background-color 0.2s ease-in-out;

                &:hover {
                  background-color: $primary-color;
                  color: $secondary-font-color;
                }

                &.no-match:hover {
                  background-color: $primary-color;
                  color: $primary-font-color;
                }

                &.no-match {
                  text-align: center;
                  font-weight: bolder;
                  cursor: default;
                }
              }
            }
          }

          &.open {
            .close {
              opacity: 1;
              visibility: visible;
            }

            form {
              width: 60%;
              max-width: 800px;
            }
          }
        }

      }

      svg {
        color: $primary-font-color;
        margin: 0 10px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
      }

      svg:hover {
        color: $hover-font-color;
      }

      .cart-icon {
        position: relative;
        cursor: pointer;

        span {
          position: absolute;
          top: -1px;
          right: 1px;
          color: #ffffff;
          background-color: $secondary-color;
          box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
          font-size: 11px;
          padding-left: 2px;
          padding-right: 2px;
          line-height: 17px;
          letter-spacing: -0.5px;
          height: 18px;
          min-width: 18px;
          border-radius: 99px;
          text-align: center;
          z-index: 3;
        }
      }

      .cart {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translate(100%, 0);
        width: 35%;
        background-color: #ffffff;
        z-index: 100000;
        display: flex;
        flex-flow: column nowrap;
        transition: 0.5s;

        .cart-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $primary-border-color;
          padding: 21.5px;
          line-height: 1;

          span {
            font-size: 17px;
          }

          svg {
            width: 22px;
            height: 22px;
          }
        }

        .cart-items {
          padding: 21px;
          overflow: auto;

          .cart-item {
            &:not(:first-child) {
              border-top: 1px solid $primary-border-color;
            }

            position: relative;
            min-height: 60px;
            line-height: 1.5;
            padding: 19px 0 19px 80px;

            img {
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width: 70px;
              height: 70px;
              margin: 0 0 8px 0;
            }

            .title,
            .price {
              font-size: 17px;
              line-height: normal;
              color: $secondary-font-color;
            }

            .price {
              position: absolute;
              bottom: 25px;
              right: 0;
              left: auto;
              margin: 0 10px;
            }

            .remove {
              position: absolute;
              left: auto;
              right: 0;
              top: 25px;
              color: $secondary-font-color;
              opacity: 0.7;
              transition: all 0.2s linear;

              &:hover {
                opacity: 1;
              }
            }
          }
        }

        .empty-cart {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 21px;

          p {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: $secondary-font-color;
          }
        }

        &.open {
          transform: translate(0, 0);
        }

        .cart-footer {
          background-color: #ffffff;

          p {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 11px 23px;
            border-top: 1px solid $primary-border-color;
            border-bottom: 1px solid $primary-border-color;
            font-size: 17px;
            color: $primary-font-color;

            strong {
              font-weight: 500;
              padding-right: 8.5px;
            }

            .amount {
              color: $secondary-font-color;
            }
          }

          .buttons {
            padding: 22.78px;

            .btn {
              margin-top: 10px;
              color: $secondary-font-color;

              &:first-child {
                margin-bottom: 5px;
              }

              &:hover {
                color: $primary-font-color;
              }
            }
          }
        }
      }
    }
  }

  .toggle-icon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    font-size: 23px;
    padding: 8px;
    background-color: $third-color;
    color: #ffffff;
    border: none;
  }
}

// Start Media
@media screen and (max-width: 921px) {
  header {
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 20px;
    margin-right: 20px;

    .nav-right-side {
      position: fixed;
      top: 0;
      bottom: 0;
      gap: 10px;
      right: -100%;
      width: 90%;
      z-index: 1000;
      background-color: #ffffff;
      box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
      flex-direction: column;
      justify-content: flex-start;
      overflow-y: auto;
      overflow-x: hidden;
      transition: all 0.2s linear;

      &.open {
        right: 0;
      }

      .menu-collapse {
        width: 100%;

        .close-menu {
          display: block;
          margin-left: auto;
          padding: 19px;

          svg {
            width: 17px;
            height: 17px;
          }
        }

        .menu {
          display: block;
          gap: 0;

          li {
            background-color: $primary-color;
            width: 100%;
            border-bottom: 1px solid $primary-border-color;
            text-transform: capitalize;
            line-height: 3;

            &:first-child {
              border-top: 1px solid $primary-border-color;
            }

            a {
              padding-top: 5px;
              padding-bottom: 5px;
              padding-left: 25px;
              padding-right: 25px;
            }

            &.dropdown {
              .dropdown-btn {
                justify-content: space-between;
                padding-right: 25px;
              }

              span {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 25px;
                padding-right: 25px;
              }

              .dropdown-menu {
                position: static;
                display: block;
                width: auto;
                height: 0;
                max-height: fit-content;
                overflow: hidden;
                visibility: visible;
                opacity: 1;
                box-shadow: none;
                transition: all 0.2s ease-in-out;

                li {
                  line-height: 3;
                }
              }

              &.open {
                .dropdown-menu {
                  height: 200px;
                }
              }
            }
          }


        }
      }

      .icons {
        margin-top: 10px;
        width: 100%;
        justify-content: flex-start;

        .search-container {
          display: none;
        }

        .cart {
          width: 90%;

          .cart-items {
            .cart-item {
              img {
                width: 60px;
                height: 60px;
              }

              .title {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .toggle-icon {
      display: flex;
    }
  }
}

@media screen and (max-width: 576px) {
  header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}