.quick-view-model {
  .model-container {
    max-width: 1792px;
    max-height: 470px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.15);
    z-index: 1000;
    display: flex;

    .close {
      font-size: 14px;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 22px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      z-index: 4;
      background: #fff;
      color: #000;
      border-radius: 50%;
      box-shadow: 0 0 4px #4c4c4c;
      cursor: pointer;
    }

    .image {
      background-color: #c3cfdd;
      width: 50%;
      min-width: 400px;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;

      .onsale {
        top: 15px;
        left: 15px;
        right: auto;
      }
    }

    .model-content {
      position: relative;
      min-width: 400px;
      padding: 30px;
      padding-bottom: 0;

      .content-body {
        overflow-y: auto;
        max-height: 375px;
        padding-bottom: 10px;

        .title {
          font-size: 30px;
          font-weight: 400;
          line-height: 1.3;
          color: $primary-font-color;
          margin-bottom: 8px;
        }

        .price {
          font-size: 25px;
          font-weight: 700;
          color: $secondary-font-color;
          margin-bottom: 5px;

          .original-price {
            opacity: 0.5;
            margin-right: 10px;
          }

          .current-price {
            text-decoration: none;
          }
        }

        .description {
          font-size: 17px;
          font-weight: 500;
          color: $secondary-font-color;
          margin-bottom: 16px;
        }

        .category {
          color: $secondary-font-color;
          border-top: 1px solid $primary-border-color;
          padding-top: 0.5em;
          font-size: 15px;
          font-weight: 500;
          margin: 0 0 0.8em;

          a {
            color: $primary-font-color;
            font-weight: 400;
          }
        }

        .info {
          li {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 17px;
            font-weight: 500;
            color: $secondary-font-color;
          }

          li:first-child {
            font-weight: 600;
            margin: 0.5em 0;
          }
        }
      }

      .content-footer {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        background-color: #ffffff;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 20px;

        .btn {
          max-width: 140px;
          padding: 10px 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .quick-view-model {
    .model-container {
      width: 90%;
      max-width: 790px;
      max-height: 826px;
      .image {
        height: auto;
        min-width: 50%;
      }
    }
  }
}

@media screen and (max-width: 546px) {
  .quick-view-model {
    .model-container {
      max-width: initial;
      max-height: 98%;
      width: 98%;
      flex-direction: column;
      overflow: auto;

      .image {
        width: 100%;
      }

      .model-content {
        min-width: 200px;
        padding: 10px;
        .content-body {
          .title {
            font-size: 27px;
          }

          .price {
            font-size: 23px;
          }

          .description {
            font-size: 15px;
          }

          .info {
            li {
              font-size: 14px;
            }

            li:first-child {
              font-size: 15px;
            }
          }
        }
        .content-footer {
          .btn {
            padding: 10px 0;
          }
        }
      }
    }
  }
}
