@use "@/styles/base/variables";

.filter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  z-index: 999;

  padding: 35px;

  background-color: #fff;

  transform: translate(-100%, 0);
  transition: all 0.3s linear;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  &.open {
    transform: translate(0, 0);
  }

  .close {
    position: absolute;
    top: 10px;
    right: 20px;

    color: variables.$secondary-font-color;
    font-size: 25px;
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {
  .filter {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .filter {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .filter {
    width: 90%;
  }
}
