@use "@/styles/base/variables";

.single_product {
  background-color: variables.$primary-color;
  padding-block: 50px;

  .product {
    display: flex;
    gap: 20px;

    margin-bottom: 50px;

    .slider {
      width: 50%;
      position: relative;
      background-color: variables.$primary-product-bg;
    }

    .content {
      .title {
        font-size: 35px;
        font-weight: 500;
      }

      .description {
        font-size: 17px;
        font-weight: 500;
        color: variables.$secondary-font-color;
      }

      .buttons {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-block: 10px;
      }

      .category {
        border-top: 1px solid variables.$primary-border-color;
        padding-block: 10px;
        font-weight: 500;

        a {
          margin-left: 5px;
        }
      }
    }
  }

  .related_products {
    & > .title {
      text-align: left;
    }
  }
}

@media screen and (max-width: 991px) {
  .single_product {
    .product {
      flex-direction: column;
      .slider {
        width: 100%;
        .swiper {
          max-height: 650px;
        }
      }
      .content {
        padding: 20px 0;
        .title {
          padding-bottom: 5px;
        }
      }
    }

    .related-products {
      & > .title {
        font-size: 30px;
      }
    }
  }
}
