.error_page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  .title {
    font-size: 80px;
    line-height: 1;
  }

  .description {
    font-size: 25px;
    margin-bottom: 10px;
    span {
      display: block;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .error_page {
    .title {
      font-size: 60px;
    }
    .description {
      font-size: 20px;
      span {
        font-size: 18px;
      }
    }
  }
}
