@use "@/styles/base/variables";

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  max-height: 200px;
  overflow-y: auto;

  background: #fff;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  z-index: 100;

  transition: all 0.2s linear;
  text-align: left;

  .dropdown_item {
    background: #fff;
    transition: background 0.1s ease-in-out;

    a {
      padding: 25px 10px;
      width: 100%;
    }

    &.error {
      padding: 25px 10px;

      font-weight: 600;
      text-align: center;

      color: variables.$error-font-color;
    }

    &.no_match {
      font-weight: 600;
      text-align: center;
      padding: 25px 10px;
    }

    &:hover,
    &.active {
      background: variables.$primary-color;
      color: variables.$secondary-font-color;
    }
  }
}
