// Base styles
@use "base/variables";
@use "base/typography";

@use "base/animations";
@use "base/reset";
@use "base/globals";

// Utilities
@use "utilities/helpers";

// Swiper
@use "swiper/css";
@use "swiper/css/navigation";

// Components
@use "components/spinner";
@use "components/add_to_cart";
@use "components/form";
@use "components/review_card";
@use "components/floating_alert";

// Pages
@use "pages/auth.scss";
@use "pages/account.scss";
@use "pages/error.scss";
@use "pages/not_found.scss";

.swiper {
  .swiper-button-next,
  .swiper-button-prev {
    color: variables.$secondary-color;
    &::after {
      font-size: 25px;
    }
  }

  .swiper-notification {
    display: none;
  }
}
