// Base styles
@use "base/variables";
@use "base/typography";


@use "base/reset";
@use "base/globals";
@use "base/animations";

// Utilities
@use "utilities/helpers";

// Swiper
@use "swiper/css";
@use "swiper/css/navigation";


.swiper {
  .swiper-button-next,
  .swiper-button-prev {
    color: variables.$secondary-color;
    &::after {
      font-size: 25px;
    }
  }

  .swiper-notification {
    display: none;
  }
}
