@import "@/styles/base/_variables";

.forgot_password {
  text-align: center;
  background: $primary-color;
  padding-bottom: 80px;
  .title {
    text-align: left;
    font-size: 30px;
    line-height: 1.1;
  }
  .description,
  .message,
  .error {
    text-align: center;
    width: 60%;
    margin: auto;
    font-weight: 500;
    font-size: 17px;
  }
  .message {
    font-weight: 500;
    font-size: 18px;
    color: #b3b303;
    margin-top: 10px;
    a {
      text-decoration: underline;
    }
  }
  .error {
    color: #666666;
    margin-top: 10px;
  }
}
