@use "@/styles/base/variables";
@use "@/styles/base/animations";

.card {
  position: relative;
  max-width: 260px;
  background-color: transparent;
  transition: all 0.2s linear;
  box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.1);

  .blur_image_wrapper {
    position: relative;

    .placeholder {
      width: 100%;
      transition: opacity 0.5s ease-in-out;
      filter: blur(7px);
    }
  }

  .loading_skeleton {
    display: block;
    width: 100%;
    height: 15px;

    border-radius: 3px;

    background: rgb(238, 238, 238);
    animation: pulse 0.8s linear infinite alternate;

    &::after {
      content: "";
      display: block;

      height: 110%;
      width: 10%;

      background: rgba(255, 255, 255, 0.3);
      filter: blur(1px);

      animation: slideRight 1s linear infinite;
    }
  }
}
