@use "@/styles/base/variables";

.cart_page {
  min-height: calc(100svh - 150px);
  background-color: variables.$primary-color;

  padding-block: 30px;

  .title {
    text-align: left;
    font-size: 30px;
    line-height: 1.3;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    gap: 20px;

    .cart_total {
      border: 1px solid variables.$primary-border-color;
      min-width: 350px;

      .title {
        font-size: 20px;
        padding: 10px 20px;
        border-bottom: 1px solid variables.$primary-border-color;
        background-color: #fff;
      }

      .total_table {
        width: 100%;
        tr {
          display: flex;
          justify-content: space-between;
          margin: 5px auto;
          padding: 10px 30px;
          border-bottom: 1px solid variables.$primary-border-color;
        }
      }
      .footer {
        padding: 10px 25px;

        .have_coupon_btn {
          font-family: variables.$primary-font;
          color: variables.$secondary-font-color;
          font-weight: 500;

          .coupon_form {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5px;
            padding: 0;
            margin: 0;
            border: none;
            .form_control {
              width: 40%;
            }
            .btn {
              width: 40%;
              padding: 12px;
              margin: 0;
            }
            .error {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .cart_page {
    .content {
      flex-direction: column;
      .cart_total {
        min-width: 100%;

        .coupon_form {
          .form_control {
            width: 55%;
          }
          .btn {
            width: 40%;
            padding: 12px;
            margin: 0;
          }
        }
      }
    }
  }
}
