@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0) rotate(15deg);
  }

  to {
    transform: translateX(1000%) rotate(15deg);
  }
}

@keyframes pulse {
  from {
    opacity: 20%;
  }

  to {
    opacity: 100%;
  }
}
