@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: calc(100svh - 250px);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 16px;
}

.bg-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.314);
  inset: 0;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  cursor: default;
}

.title {
  font-size: 42px;
  line-height: 100px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
}

.under-line {
  &::after {
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    background-color: variables.$hover-font-color;
    margin: -10px auto 0 auto;
    border-radius: 20px;
  }
}
