// Green
$green-100: #d1fae5;
$green-400: #4ade80;
$green-500: #22c55e;
$green-800: #065f46;

// Red
$red-100: #fee2e2;
$red-400: #f87171;
$red-500: #ef4444;
$red-800: #991b1b;

// Yellow
$yellow-100: #fef3c7;
$yellow-400: #fbbf24;
$yellow-500: #f59e0b;
$yellow-800: #78350f;

// Blue
$blue-100: #dbeafe;
$blue-400: #60a5fa;
$blue-500: #3b82f6;
$blue-800: #1e3a8a;

// Gray
$gray-200: #e5e7eb;

$primary-color: #f5f5f5;
$secondary-color: #415161;
$third-color: #f2295b;

$primary-product-bg: #fdf5e6;

$primary-font-color: #415161;
$secondary-font-color: #3a434c;
$error-font-color: #991d1d;
$hover-font-color: #f2295b;

$primary-border-color: #eaeaea;
$secondary-border-color: #f2295b;

$primary-font: "Barlow", sans-serif;
$secondary-font: "Teko", sans-serif;
