@use "@/styles/base/variables";

.title {
  font-size: 25px;
  margin: 20px 0 0;
  color: variables.$secondary-font-color;
}

.list {
  .list_item {
    display: flex;
    align-items: center;
    gap: 5px;

    margin-block: 10px;
  }
}
