@use "@/styles/base/variables";

.form_control {
  .checkbox {
    display: flex;
    align-items: center;
    gap: 7px;

    font-size: 16px;
    text-transform: capitalize;
    color: variables.$secondary-font-color;

    .indicator {
      position: relative;
      width: 15px;
      height: 15px;

      border: 1px solid variables.$third-color;
      border-radius: 3px;

      transition: all linear 0.03s;

      &::before,
      &.indeterminate::before {
        content: "\2714";

        position: absolute;
        top: 50%;
        left: 50%;

        font-size: 12px;
        color: #fff;

        transform: translate(-50%, -50%) rotateX(45deg);
      }

      &.indeterminate::before {
        content: "\2013";
        transform: translate(-50%, -55%);
      }

      &.checked,
      &.indeterminate {
        background-color: variables.$third-color;
      }
    }
  }
}
