.error-page {
  max-height: 100vh;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;

  .container {
    padding-top: 0;
    .title {
      font-size: 80px;
      text-align: center;
      padding: 0;
    }

    .description {
      text-align: center;
      font-size: 25px;
      margin-top: 10px;
      span {
        display: block;
        font-size: 20px;
      }
    }
    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 20px;
      .btns {
        max-width: 130px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .error-page {
    .container {
      .title {
        font-size: 60px;
        text-align: center;
      }
      .description {
        font-size: 20px;
        span {
          font-size: 18px;
        }
      }
    }
  }
}
