.base-collection {
  padding-left: 50px;
  padding-right: 50px;

  .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        height: 70%;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        text-align: center;
        padding: 0 25px 0 25px;
        height: 40%;
        span {
          font-size: 12px;
          color: $secondary-font-color;
        }

        .title {
          font-size: 40px;
          line-height: 1;
        }
        .btn {
          width: 40%;
        }
      }
    }
    .right {
      width: 49%;
      height: 542px;
      max-height: 100%;
      background-image: url("../../assets/images/collection-01.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.top-rated-products,
.tabs-section {
  padding: 20px;

  .title {
    font-size: 42px;
    line-height: 100px;
    font-weight: 600;
    text-align: center;
  }

  .tabs-wrapper {
    .tab-btn {
      padding: 20px 25px;
      font-size: 17px;
      font-weight: 700;
      line-height: 1;
      color: #41516194;
      transition: all 0.2s linear;

      &:hover,
      &.active {
        color: $primary-font-color;
      }
    }
  }

  .cards-container {
    display: grid;
    gap: 20px;
    padding: 20px 20px 0 20px;

    .card {
      margin-bottom: 30px;
    }
  }
}

.reviews {
  .container {
    padding-bottom: 80px;
    .reviews-cards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      padding: 20px 20px 0 20px;
    }
  }
}

.secondary-banner {
  .container {
    background-image: url("../../assets/images/banner-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    height: 600px;

    .inner {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: #ffffff;
      span {
        font-size: 14px;
      }

      .title {
        text-align: center;
        font-size: 40px;
        line-height: 1.5;
        span {
          font-size: 30px;
          display: block;
        }
      }

      .btn {
        width: 150px;
        border-color: #ffffff;
        color: #ffffff;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .base-collection {
    .container {
      .right {
        height: 488px;
      }
    }
  }
  .top-rated-products,
  .tabs-section {
    .cards-container {
      grid-template-columns: 1fr 1fr 1fr !important;
    }
  }

  .reviews {
    .container {
      .reviews-cards {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .base-collection {
    .container {
      flex-direction: column;
      .left {
        .content {
          gap: 10px;
          padding: 20px 0;
        }
      }
      .right {
        width: 100%;
      }
    }
  }

  .top-rated-products,
  .tabs-section {
    .tabs-wrapper {
      .tab-btn {
        padding: 10px 20px;
      }
    }

    .cards-container {
      grid-template-columns: 1fr 1fr !important;
    }
  }

  .reviews {
    .container {
      .reviews-cards {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .top-rated-products,
  .tabs-section {
    .tabs-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .tab-btn {
        padding: 10px 25px;
      }
    }

    .cards-container {
      place-items: center;
      grid-template-columns: 1fr !important;
    }
  }

  .reviews {
    .container {
      .reviews-cards {
        grid-template-columns: 1fr;
      }
    }
  }
}
