.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.empty_products_container {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 20px;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .products_container {
    .product_card {
      max-width: 300px;
    }
  }
}

@media screen and (max-width: 655px) {
  .products_container {
    justify-content: center;
  }
}
