@use "@/styles/base/variables";

.spinner {
  display: block;

  width: 30px;
  height: 30px;

  border: 2.5px solid variables.$secondary-color;
  border-top-color: transparent;
  border-radius: 50%;

  margin-block: 10px;
  margin-inline: auto;

  animation: Spinner 0.8s linear infinite;
}

@keyframes Spinner {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
