@use "@/styles/base/variables";

.rating_container {
  color: variables.$secondary-font-color;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  .full,
  .half {
    fill: variables.$primary-font-color;
  }
}
