@use "@/styles/base/variables";

.card {
  position: relative;
  max-width: 260px;

  background: transparent;
  transition: all 0.2s linear;
  box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.1);

  text-align: center;

  border-radius: 5px;
  overflow: hidden;

  .card_content {
    padding-block: 10px;

    .category {
      color: variables.$secondary-font-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.3;

      width: 100%;
      opacity: 0.6;
    }

    .title {
      font-size: 16px;
      line-height: 2;
      color: variables.$primary-font-color;
    }
  }

  &:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  }
}
