.not-found {
  background-color: $primary-color;
  height: 80vh;
  text-align: center;
  .container {
    padding: 80px 0;

    .content {
      padding: 20px;
      background-color: #ffffff;
      width: 80%;
      margin: auto;
      border-radius: 5px;
      .title {
        color: $hover-font-color;
        padding: 10px;
        line-height: 1;
      }
      .sub-title {
        font-size: 20px;
      }
      .search-form {
        width: 52%;
        margin: 10px auto;
        height: 40px;
        input {
          border: 1px solid $primary-border-color;
          font-size: 16px;
        }
        .dropdown {
          border: 1px solid $primary-border-color;
          border-top: none;
          box-shadow: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .not-found {
    .container {
      .content {
        .title {
          font-size: 30px;
        }
        .sub-title {
          font-size: 15px;
        }
        .search-form {
          width: 90%;
        }
      }
    }
  }
}
