@use "../base/variables";

.single_product {
  background-color: variables.$primary-color;
  padding-bottom: 50px;
  .product {
    display: flex;
    margin-bottom: 50px;
    .images {
      width: 50%;
      position: relative;
      background-color: variables.$primary-product-bg;
      .onsale {
        z-index: 999;
        left: -10px;
        top: -10px;
        width: 60px;
        height: 60px;
        font-size: 17px;
      }
      .swiper {
        max-height: 550px;
        .swiper-button-next,
        .swiper-button-prev {
          color: variables.$secondary-color;
          &::after {
            font-size: 25px;
          }
        }

        .swiper-notification {
          display: none;
        }
      }
    }
    .content {
      padding: 0 30px;
      .title {
        text-align: left;
        font-size: 35px;
        font-weight: 500;
        line-height: 1.2;
      }

      .price {
        font-size: 25px;
        font-weight: 600;
        color: variables.$secondary-font-color;

        .original-price {
          opacity: 0.5;
          margin-right: 10px;
        }

        .current-price {
          text-decoration: none;
        }
      }

      .description {
        font-size: 17px;
        font-weight: 500;
        color: variables.$secondary-font-color;
        margin-bottom: 15px;
      }

      .buttons {
        display: flex;
        gap: 10px;
        margin: 10px 0;
        .increment-decrement-counter {
          margin: 0;
        }
        .add-to-cart {
          width: 150px;
        }
      }

      .category {
        color: variables.$secondary-font-color;
        border-top: 1px solid variables.$primary-border-color;
        padding-top: 0.5em;
        font-size: 15px;
        font-weight: 500;
        margin: 0 0 0.8em;

        a {
          margin-left: 10px;
          color: variables.$primary-font-color;
          font-weight: 400;
        }
      }

      .info {
        li {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 17px;
          font-weight: 500;
          color: variables.$secondary-font-color;
        }

        li:first-child {
          font-weight: 600;
          margin: 0.5em 0;
        }
      }
    }
  }

  .product-reviews {
    margin-bottom: 60px;
    .title-container {
      border-top: 1px solid variables.$primary-border-color;
      .title {
        font-family: variables.$primary-font;
        font-size: 15px;
        font-weight: 700;
        padding: 10px 0;
        width: fit-content;
        line-height: 1;
        border-top: 2px solid variables.$secondary-border-color;
      }
    }

    .reviews-container {
      .review {
        display: flex;
        gap: 20px;
        padding: 20px 0;
        &:not(:last-child) {
          border-bottom: 1px solid variables.$primary-border-color;
        }
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        .content {
          .comment {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
          }
          .review-rating {
            font-size: 20px;
          }
        }
      }
    }
  }

  .related-products {
    & > .title {
      text-align: left;
    }
    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 991px) {
  .single_product {
    .product {
      flex-direction: column;
      .images {
        width: 100%;
        .swiper {
          max-height: 650px;
        }
      }
      .content {
        padding: 20px 0;
        .title {
          padding-bottom: 5px;
        }
        .info {
          li {
            font-size: 15px;
          }
        }
        .add-to-cart {
          padding: 10px 20px;
        }
      }
    }
    .product-reviews {
      .reviews-container {
        .review {
          img {
            width: 55px;
            height: 55px;
          }

          .content {
            .comment {
              font-size: 17px;
            }
            .review-rating {
              font-size: 17px;
            }
          }
        }
      }
    }
    .related-products {
      & > .title {
        font-size: 30px;
      }

      .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .single_product {
    .related-products {
      .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
