@use "@/styles/base/_variables";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: fit-content;

  border-radius: 3px;

  cursor: pointer;

  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  font-family: variables.$primary-font;
  color: variables.$primary-font-color;

  transition: all 0.3s ease;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// Sizes
.sm {
  font-size: 14px;
  padding: 5px 10px;
}

.md {
  font-size: 16px;
  padding: 5px 20px;
}

.lg {
  font-size: 18px;
  padding: 5px 20px;
}

.icon {
  font-size: 20px;
  padding: 0;
}

// Variants
.secondary {
  width: 100%;

  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);

  transition: all 0.2s ease-in-out;
  opacity: 0;

  &:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 1);
  }
}

.outline {
  color: variables.$primary-font-color;
  border: 1px solid variables.$secondary-border-color;

  &:hover {
    color: #fff;
    border-color: variables.$hover-font-color;
    background: variables.$third-color;
  }
}

.ghost {
  border: none;
}

.link {
  padding: 0;
  text-transform: lowercase;

  &:hover {
    color: variables.$hover-font-color;
  }
}
