@use "@/styles/base/_variables";

.cart_container {
  .cart_toggler {
    position: relative;
    color: variables.$primary-font-color;

    .count {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 18px;
      width: 18px;
      padding: 1px;

      position: absolute;
      top: -2px;
      right: -5px;

      border-radius: 50%;

      background: #415161;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);

      font-size: 8px;
      color: #fff;
      text-align: center;

      z-index: 3;
    }
  }

  .cart {
    display: flex;
    flex-flow: column nowrap;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 35%;

    background: #fff;

    z-index: 100;

    transition: 0.5s;
    transform: translate(100%, 0);

    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);

    &.open {
      transform: translate(0, 0);
    }

    .cart_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: 1px solid variables.$primary-border-color;

      padding: 21.5px;
      line-height: 1;

      span {
        font-size: 17px;
        font-weight: 500;
      }
    }

    .cart_items {
      overflow-y: auto;
      .cart_item {
        display: flex;
        position: relative;
        min-height: 60px;
        line-height: 1.5;
        padding: 19px 0 19px 10px;

        &:not(:first-child) {
          border-top: 1px solid variables.$primary-border-color;
        }

        img {
          width: 100px;
          height: 100px;
        }

        .content {
          position: relative;
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 30px 0;
          .title,
          .price {
            font-size: 17px;
            line-height: normal;
            color: variables.$secondary-font-color;
            text-align: left;
          }

          .price {
            position: absolute;
            bottom: 40px;
            right: 20px;
            left: auto;
            margin: 0 10px;
          }
        }

        .remove {
          position: absolute;
          left: auto;
          right: 15px;
          top: 25px;
          color: variables.$secondary-font-color;
          opacity: 0.7;
          transition: all 0.2s linear;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .empty_cart {
      display: flex;
      flex-direction: column;
      align-items: center;

      height: 100%;
      padding: 21px;

      p {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 18px;
        font-weight: 500;
        color: variables.$secondary-font-color;
      }

      a {
        padding: 20px 24px;
      }
    }

    .cart_footer {
      min-height: 10%;
      display: flex;
      flex-direction: column;
      margin-top: auto;

      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-top: 1px solid variables.$primary-border-color;
        border-bottom: 1px solid variables.$primary-border-color;
      }

      .buttons {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 10px 20px;
      }
    }
  }
}

@media screen and (max-width: 991.99px) {
  .cart_container {
    .cart {
      width: 60%;

      .cart_items {
        .cart_item {
          img {
            width: 150px;
            height: 150px;
          }
          .content {
            .title,
            .price {
              font-size: 15px;
            }

            .price {
              bottom: 35px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .cart_container {
    .cart {
      width: 70%;
    }
  }
}

@media screen and (max-width: 576px) {
  .cart_container {
    .cart {
      width: 95%;

      .cart_items {
        .cart_item {
          img {
            width: 100px;
            height: 100px;
          }
          .content {
            padding: 10px 0;

            .title,
            .price {
              font-size: 12px;
            }

            .price {
              bottom: 20px;
            }
          }
        }
      }
    }
  }
}
