.review_card {
  width: 100%;
  max-width: 260px;
  max-height: 150px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  padding: 10px;
  border-radius: 5px;

  .comment {
    font-size: 15px;
    line-height: 2.5;
  }

  .reviewer_name {
    font-size: 14px;
    text-transform: capitalize;
  }
}
