.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.full-container {
  max-width: 99%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.sr-only {
  display: none !important;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: auto;
}

.mx-auto {
  margin: 0 auto;
}

@for $i from 0 through 10 {
  .mx-#{$i} {
    margin-left: $i * 4px;
    margin-right: $i * 4px;
  }

  .my-#{$i} {
    margin-top: $i * 4px;
    margin-bottom: $i * 4px;
  }

  .px-#{$i} {
    padding-left: $i * 4px;
    padding-right: $i * 4px;
  }

  .py-#{$i} {
    padding-top: $i * 4px;
    padding-bottom: $i * 4px;
  }

  .gap-#{$i} {
    gap: $i * 4px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 1240px;
  }
}
