.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.sr-only {
  display: none !important;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: auto;
}

.mx-auto {
  margin: 0 auto;
}

@for $i from 0 through 10 {
  .mt-#{$i} {
    margin-top: $i * 4px;
  }

  .mr-#{$i} {
    margin-top: $i * 4px;
  }

  .mb-#{$i} {
    margin-top: $i * 4px;
  }

  .ml-#{$i} {
    margin-top: $i * 4px;
  }

  .mx-#{$i} {
    margin-left: $i * 4px;
    margin-right: $i * 4px;
  }

  .my-#{$i} {
    margin-top: $i * 4px;
    margin-bottom: $i * 4px;
  }

  .px-#{$i} {
    padding-left: $i * 4px;
    padding-right: $i * 4px;
  }

  .py-#{$i} {
    padding-top: $i * 4px;
    padding-bottom: $i * 4px;
  }

  .gap-#{$i} {
    gap: $i * 4px;
  }
}
