.zoom_container {
  position: relative;
  overflow: hidden;
  cursor: none;
  z-index: 2;

  .primary_image {
    width: 100%;
    height: 100%;
  }

  .zoom_image {
    position: absolute;
    inset: 0;

    z-index: 3;

    background: #fdf5e6;

    pointer-events: none;
    will-change: clip-path, transform-origin;
  }

  .lens_border {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 2px solid rgba(0, 0, 0, 0.8);

    filter: blur(1px);

    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
}
