.cart {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translate(100%, 0);
  width: 35%;
  background-color: #ffffff;
  z-index: 100000;
  display: flex;
  flex-flow: column nowrap;
  transition: 0.5s;

  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $primary-border-color;
    padding: 21.5px;
    line-height: 1;

    span {
      font-size: 17px;
    }

    svg {
      width: 22px;
      height: 22px;
    }
  }

  .cart-items {
    overflow-y: auto;
    .cart-item {
      display: flex;
      position: relative;
      min-height: 60px;
      line-height: 1.5;
      padding: 19px 0 19px 10px;

      &:not(:first-child) {
        border-top: 1px solid $primary-border-color;
      }

      img {
        width: 100px;
        height: 100px;
      }

      .content {
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 0;
        .title,
        .price {
          font-size: 17px;
          line-height: normal;
          color: $secondary-font-color;
          text-align: left;
        }

        .price {
          position: absolute;
          bottom: 40px;
          right: 20px;
          left: auto;
          margin: 0 10px;
        }
      }

      .remove {
        position: absolute;
        left: auto;
        right: 15px;
        top: 25px;
        color: $secondary-font-color;
        opacity: 0.7;
        transition: all 0.2s linear;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .empty-cart {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 21px;

    p {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: $secondary-font-color;
    }
  }

  &.open {
    transform: translate(0, 0);
  }

  .cart-footer {
    background-color: #ffffff;
    margin-top: auto;
    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 11px 23px;
      border-top: 1px solid $primary-border-color;
      border-bottom: 1px solid $primary-border-color;
      font-size: 17px;
      color: $primary-font-color;

      strong {
        font-weight: 500;
        padding-right: 8.5px;
      }

      .amount {
        color: $secondary-font-color;
      }
    }

    .buttons {
      padding: 22.78px;

      .btn {
        margin-top: 10px;
        color: $secondary-font-color;

        &:first-child {
          margin-bottom: 5px;
        }

        &:hover {
          color: $primary-font-color;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .cart {
    width: 60%;

    .cart-items {
      .cart-item {
        img {
          width: 150px;
          height: 150px;
        }
        .content {
          .title,
          .price {
            font-size: 15px;
          }

          .price {
            bottom: 35px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 786px) {
  .cart {
    width: 65%;
  }
}
@media screen and (max-width: 576px) {
  .cart {
    width: 95%;

    .cart-items {
      .cart-item {
        img {
          width: 100px;
          height: 100px;
        }
        .content {
          padding: 10px 0;

          .title,
          .price {
            font-size: 12px;
          }

          .price {
            bottom: 20px;
          }
        }
      }
    }
  }
}
