@use "../base/variables";

.filter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  z-index: 999;
  background-color: #ffffff;
  padding: 35px;
  transform: translate(-100%, 0);
  transition: all 0.3s linear;
  &.open {
    transform: translate(0, 0);
  }
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: variables.$secondary-font-color;
    font-size: 25px;
    cursor: pointer;
  }

  .title {
    font-size: 21px;
    line-height: 1;
    text-align: left;
    padding: 0;
    margin: 20px 0;
    color: variables.$secondary-font-color;
  }

  .list {
    li {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 500;
      margin: 5px 0;
      span {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        &:hover {
          color: #666666;
        }
      }
    }
  }
  .price {
    .rc-slider-handle {
      background-color: variables.$third-color;
      border-color: #666666;
    }
    .rc-slider-track,
    .rc-slider-tracks {
      background-color: variables.$third-color;
    }
    .btn {
      margin: 10px 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .filter {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .filter {
    width: 60%;
  }
}

@media screen and (max-width: 576px) {
  .filter {
    width: 80%;
  }
}
