@use "../base/variables";

.floating-alert {
  position: fixed;
  top: 20px;
  left: auto;
  right: auto;
  min-width: 250px;
  background: variables.$secondary-color;
  color: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  opacity: 0;
  animation: slideDown 0.5s ease forwards;

  .progress-bar {
    height: 4px;
    margin-top: 5px;
    background: variables.$third-color;
    border-radius: 10px;
    transition: width 0.1s linear;
    width: 100%;
  }

  &.slide-up {
    animation: slideUp 0.5s ease forwards;
  }
}
