@use "../base/variables";

.spinner-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$primary-color;
  z-index: 10000;
}

.spinner {
  position: relative;
  margin-inline: auto;
  padding-block: 25px;
  width: 64px;
  height: 64px;
}

.double-bounce1,
.double-bounce2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: variables.$third-color;
  opacity: 0.6;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
