@use "@/styles/base/variables";

.tabs_wrapper {
  display: flex;
  gap: 35px;

  margin-block: 20px;

  .tab_btn {
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    color: variables.$secondary-font-color;

    opacity: 0.8;

    padding-inline: 0;

    transition: all 0.2s linear;

    &:hover,
    &.active {
      color: variables.$primary-font-color;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 576px) {
  .tabs_wrapper {
    justify-content: center;
  }
}
