.bg-overlay {
  position: fixed;
  background-color: #00000050;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  cursor: default;
}

.btn {
  display: inline-block;
  width: 100%;
  padding-top: 13px;
  padding-right: 30px;
  padding-bottom: 13px;
  padding-left: 5px;
  border: 2px solid $secondary-border-color;
  border-radius: 1px;
  text-transform: uppercase;
  color: $primary-font-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: $hover-font-color;
  }
}

.increment-decrement-counter {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;

  .increment-btn,
  .decrement-btn,
  .count {
    border: 1px solid $primary-border-color;
    outline: 0;
    font-size: 18px;
    font-weight: 400;
    width: 38px;
    padding: 5px;
    background-color: transparent;
    color: $primary-font-color;
    text-align: center;

    &:disabled {
      background-color: $primary-color;
      cursor: not-allowed;
    }
  }
}

.onsale {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
  font-size: 14px;
  font-weight: 500;
  background-color: $third-color;
  color: #ffffff;
  border-radius: 50%;
}