.bg-overlay {
  position: fixed;
  background-color: #00000050;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  z-index: 1000;
}

.btn {
  display: inline-block;
  width: 100%;
  padding-top: 13px;
  padding-right: 30px;
  padding-bottom: 13px;
  padding-left: 5px;
  border: 2px solid $secondary-border-color;
  border-radius: 1px;
  text-transform: uppercase;
  color: $primary-font-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1em;
  text-align: center;

  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: $hover-font-color;
  }
}
