$primary-color: #f5f5f5;
$secondary-color: #415161;
$third-color: #f2295b;

$primary-font-color: #415161;
$secondary-font-color: #67727d;
$hover-font-color: #f2295b;

$primary-border-color: #eaeaea;
$secondary-border-color: #67727d;

$primary-font: "Barlow", sans-serif;
$secondary-font: "Teko", sans-serif;
